*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.ana-baslik-nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.span {
    color: #2E2F42;
}

.ana-baslik {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
}

.ana-baslik-container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.vehicles {
    display: flex;
    gap: 40px;
}

.vehicles .header-lis:last-child{
    margin-right: 0;
}

.vehicles .header-list .baglanti {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.vehicles .header-list .baglanti:hover{
    color: #404bbf;
}
.vehicles .header-list .baglanti:focus {
    color: #404bbf;
}

.contact-text {
    font-style: normal;
}

.contact-text .contact-link {
    display: flex;
}

.contact-link .iletisim {
    margin-right: 40px;
}

.contact-link .iletisim:last-child {
    margin-right: 0;
}

.contact-link .iletisim .iltsm {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.iltsm:hover{
    color: #404BBF;
}
.iletisim:focus{
    color: #404BBF;
}

.first-section-container {
    display: flex
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.order-button {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-button:hover{
    background-color: #404BBF;
    color: #ffffff;
}

.order-button:focus {
    background-color: #404BBF;
    color: #ffffff;
}


.third-chapter {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.first-chapter {
    background-color: #2E2F42;
    padding: 188px 0;
}

.first-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
}

.second-chapter {
    background-color: #FFFFFF;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.second-ul {
    display: flex;
    gap: 24px;
}

.second-ul .list.team-list {
    width: calc((100% - 48px) / 4);
}

.four {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.work-image .list.last {
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);
}

.second-ul.four .list.last {
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);
}

.last:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
}

.section-ul .list:last-child {
    margin-right: 0;
}

.second-ul .list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.second-ul .list.second-list {
    width: calc((100% - 72px) / 4);
}

.card {
    padding: 32px 0;
}

.card-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.second-ul .list .second-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.section-ul .list .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.fourth-chapter {
    background-color: #ffffff;
    padding: 120px 0;
}
.fourth-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo .studio {
    color: #F4F4FD;
    display: inline-block;
}

.footer .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}