@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.son .logo-text .studio-word {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}
.ana-baslik{
    border-bottom: 1px solid #e7e9fc;
}
.ana-baslik-container{
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    width: 1158px;
    margin: 0 auto;

}
.ana-baslik-nav{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}
.logo-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
address {
    font-style: normal;
}

.baglanti {
    color: #2e2f42;
    padding: 24px 0;
}

.baglanti:hover {
    color: #404bbf;
}

.baglanti:focus {
    color: #404bbf;
}

.contact-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.iltsm{
    display: flex;
    gap: 40px;
}

.contact-text:hover {
    color: #404bbf;
}

.contact-text:focus {
    color: #404bbf;
}

.studio-word {
    color: #2e2f42;
}

.vehicles {
    display: flex;
    gap: 40px;

}

.vehicles .header-list:last-child {
    margin-right: 0;
}

.hvehicles .header-list .baglanti {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.vehicles .header-list .baglanti:hover {
    color: #404bbf;
}

.vehicles .header-list .baglanti:focus {
    color: #404bbf;
}

.first-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em
}

.first-chapter {
    background-color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 188px 0;
    ;
}

.order-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-button:hover {
    background-color: #404BBF;
    cursor: pointer
}

.order-button:focus {
    background-color: #404BBF;
}

.second-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-chapter {
    background-color: #F4F4FD
}

.team-list {
    background-color: #FFFFFF;
}

.team-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
}

.work-image {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-right: 0;
    row-gap: 48px;
}

.son{
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer-text {
    color: #F4F4FD;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.fourth-chapter>h3 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 120px;
}
/*.fourth-container{
    padding-top: 120px;
    padding-bottom: 120px;
}*/
.birinci{
    width: calc((100% - 48px) / 3);
}
.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.fourth-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.footer .studio-word .span{
    color: #f4f4fd;
}
.iletisim{
    color: #434455;
}
.iletisim:hover{
    color: #404bbf;
}
.iletisim:focus {
    color: #404bbf;
}
.studio{
  color: #f4f4fd;  
  display: inline-block;
}